<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Password reset for <%= process.env.APP_NAME %></title>
	</head>
	<body>
		<div>
			<p>You can use the link below to reset your password. If you haven't requested this please ignore.</p>
			<p>Please note this token will expire in 3 hours.</p>
			<p><h1><a href="<%= process.env.APP_DOMAIN %>/reset_password/<%= password_reset_token %>">click here</a></h1> reset your password</p>
		</div>
	</body>
</html>