<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Reset Password</title>
	</head>
	<body>

	<div>
		<h1>request password reset token</h1>
		<form id="form_request" action="" method="POST">
			<label for="request_email">enter email address</label><br />
			<input id="request_email" name="request_email" type="email" placeholder="enter your email address here" <%- debug?"value=\"gallmond+youbot@gmail.com\"":"" %> /><br />
			<button type="submit" name="form_type" value="request_token">request token</button>
		</form>
	</div>


	</body>
</html>