<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Reset Password</title>
	</head>
	<body>

	<div>
		<h1>Enter new password</h1>
		<form id="form_reset" action="" method="POST">
			
			<label for="reset_password">enter new password</label><br />
			<input id="reset_password" name="reset_password" type="password" placeholder="enter new password" /><br />
			
			<label for="reset_password_confirm">confirm new password</label><br />
			<input id="reset_password_confirm" name="reset_password_confirm" type="password" placeholder="confirm new password" /><br />

			<button type="submit" name="form_type" value="reset_password">reset password</button>
		</form>
	</div>


	</body>
</html>