<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>youbot login</title>
	</head>
	<body>




	<div>
		<h1>sign up</h1>
		<form id="form_signup" action="" method="POST">
			<label for="signup_email">enter email address</label><br />
			<input id="signup_email" name="signup_email" type="email" placeholder="email@domain.com" <% if(debug){ %>value="test@domain.com"<% } %> /><br />
			<label for="signup_email_confirm">confirm email</label><br />
			<input id="signup_email_confirm" name="signup_email_confirm" type="email" placeholder="email@domain.com" <% if(debug){ %>value="test@domain.com"<% } %> /><br />
			<label for="signup_password">enter password</label><br />
			<input id="signup_password" name="signup_password" type="password" <% if(debug){ %>value="password"<% } %> /><br />
			<button type="submit">sign up</button>
		</form>
	</div>

	<div>
		<h1>log in</h1>
		<form id="form_login" action="" method="POST">
			<label for="login_email">enter email address</label><br />
			<input id="login_email" name="login_email" type="email" placeholder="email@domain.com" <% if(debug){ %>value="test@domain.com"<% } %> /><br />
			<label for="login_password">enter password</label><br />
			<input id="login_password" name="login_password" type="password" <% if(debug){ %>value="password"<% } %> /><br />
			<button type="submit">log in</button>
		</form>
	</div>


	</body>
</html>